@charset "UTF-8";
.logo {
	position: absolute;
	left: 20px;
	bottom: 20px;
}

.main_gnb {
	border: 1px solid black;
	position: absoulte;
	left: 20px;
	top: 10px;	
	width: 200px;
}

.main_lnb {
	border: 1px solid black;
	position: absolute;
	right: 20px;
	bottom: 10px;
	width: 300px;
}